<a href="https://colab.research.google.com/github/BiKUx/do-lab-exm-1-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
import pandas as pd
import numpy as np

In [4]:
pd.read_excel('/content/drive/MyDrive/DO lab/ODD.xlsx')

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN
...,...,...,...,...,...,...,...
95,Emily Smith,5111,NaN,4.463884e+09,james.davis@test.net,-10.0,100000.0
96,Sarah Wilson,7388,Engineer,7.455009e+09,john.johnson@example.com,NaN,100000.0
97,NaN,3773,Manager,4.515526e+08,david.miller@sample.org,NaN,100000.0
98,Sarah Smith,1442,Analyst,3.294945e+09,jessica.anderson@example.com,-10.0,-5000.0
99,Michael Jones,3490,Analyst,9.425622e+09,john.miller@sample.org,NaN,NaN

In [10]:
# question 1
#are there any missing value in any column? if so , in witch column?

In [17]:
df = pd.read_excel('/content/drive/MyDrive/DO lab/ODD.xlsx')

In [18]:
missing_values = df.isnull().sum()

In [19]:
print("Columns with missing values:")
print(missing_values[missing_values > 0])

Columns with missing values:
Employee_Name                 9
Job_Role                     10
Phone_Number                  8
Email_ID                      9
Total_Work_Hour_per_Month    23
Salary_per_Month             20
dtype: int64

In [ ]:
# question 2
# what is the data type of each column. and are they appropriatre for their context?

In [20]:
print(df.dtypes)

Employee_Name                 object
Employee_ID                    int64
Job_Role                      object
Phone_Number                 float64
Email_ID                      object
Total_Work_Hour_per_Month    float64
Salary_per_Month             float64
dtype: object

In [21]:
for col in df.columns:
    print(f"\nColumn: {col}")
    print(f"Data Type: {df[col].dtype}")

Column: Employee_Name
Data Type: object

Column: Employee_ID
Data Type: int64

Column: Job_Role
Data Type: object

Column: Phone_Number
Data Type: float64

Column: Email_ID
Data Type: object

Column: Total_Work_Hour_per_Month
Data Type: float64

Column: Salary_per_Month
Data Type: float64

In [ ]:
# question 3
# some employees have "9999" in the total work hour per month column .what does this represent ,and should it be replaced?

In [26]:
df['Total_work_hours_per_month'] = df['Total_work_hours_per_month'].replace(9999,np.nan)

KeyError: 'Total_work_hours_per_month'